<div class="patient-detail-container">
    <h2>Détails du Patient</h2>
  
    <mat-card class="patient-card">
      <mat-card-content>
        <p><strong>ID :</strong> {{ patient.id }}</p>
        <p><strong>Nom :</strong> {{ patient.nom }}</p>
        <p><strong>Prénom :</strong> {{ patient.prenom }}</p>
        <p><strong>Date de Naissance :</strong> {{ patient.date_naissance | date:'dd/MM/yyyy' }}</p>
        <p><strong>Adresse :</strong> {{ patient.adresse }}</p>
        <p><strong>Téléphone :</strong> {{ patient.telephone }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/patients/edit/{{ patient.id }}">Modifier</button>
        <button mat-raised-button color="accent" routerLink="/patients">Retour</button>
      </mat-card-actions>
    </mat-card>
  </div>
  